.heading {
    color: blue;
    font-weight: 800;
    font-size: 32px;
}

.heading.recipe {
    font-size: 24px;
}

li {
    color: purple;
}

* {
    border: 2px solid red;
    padding: 10px;
    margin: 00px;
    height: 100px;
    box-sizing: border-box;
}